Source: linux-android-xiaomi-angelica
Section: kernel
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Uploaders: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: build-essential,
               dpkg-dev,
               findutils,
               android-platform-prebuilts-python-linux-x86-2.7.5,
               debhelper (>= 13),
               bc,
               rsync,
               kmod,
               cpio,
               bison,
               flex,
               libssl-dev,
               linux-initramfs-halium-generic,
               linux-packaging-snippets,
               android-sdk-ufdt-tests,
               mkbootimg (>= 10.0.0),
               mkdtboimg,
               avbtool,
               linux-initramfs-halium-generic:arm64, binutils-aarch64-linux-gnu, clang-android-6.0-4691093, gcc-4.9-aarch64-linux-android, g++-4.9-aarch64-linux-android, libgcc-4.9-dev-aarch64-linux-android-cross
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-mt6765/kernel-xiaomi-mt6765
Vcs-Git: https://github.com/droidian-mt6765/kernel-xiaomi-mt6765.git

Package: linux-image-4.9-190-xiaomi-angelica
Architecture: armhf
Depends: ${misc:Depends}
Description: Linux kernel for Xiaomi Redmi 9C
 This package contains the Linux kernel for the Xiaomi Redmi 9C device.
 .
 Note: This package only ships the kernel image and modules, you should probably
 look at the linux-bootimage-4.9-190-xiaomi-angelica package for a bootimage suitable
 for Android boot loaders.

Package: linux-bootimage-4.9-190-xiaomi-angelica
Architecture: armhf
Pre-Depends: flash-bootimage (>= 4)
Depends: ${misc:Depends},
         linux-image-4.9-190-xiaomi-angelica (= ${binary:Version})
Description: Linux kernel for Xiaomi Redmi 9C - Android Boot Image
 This package contains the Linux kernel for the Xiaomi Redmi 9C device.
 .
 Note: This package ships an Android Boot Image bundled with Halium's
 initramfs.

Package: linux-headers-4.9-190-xiaomi-angelica
Architecture: armhf
Depends: ${misc:Depends},
         linux-image-4.9-190-xiaomi-angelica (= ${binary:Version})
Description: Linux kernel for Xiaomi Redmi 9C - Headers
 This package contains the Linux kernel headers for the Xiaomi Redmi 9C device.

Package: linux-image-xiaomi-angelica
Architecture: armhf
Depends: linux-image-4.9-190-xiaomi-angelica (= ${binary:Version})
Description: Linux kernel for Xiaomi Redmi 9C (latest)
 This package depends to the latest kernel image available for the Xiaomi Redmi 9C.

Package: linux-bootimage-xiaomi-angelica
Architecture: armhf
Depends: linux-bootimage-4.9-190-xiaomi-angelica (= ${binary:Version})
Description: Linux kernel for Xiaomi Redmi 9C - Android Boot Image  (latest)
 This package depends to the latest kernel bootimage available for the Xiaomi Redmi 9C.

Package: linux-headers-xiaomi-angelica
Architecture: armhf
Depends: linux-headers-4.9-190-xiaomi-angelica (= ${binary:Version})
Description: Linux kernel for Xiaomi Redmi 9C - Headers (latest)
 This package depends to the latest kernel headers available for the Xiaomi Redmi 9C.
