
config MTK_AF7133E_AF8133I
	bool "AF7133E_AF8133I for MediaTek package"
	default n
	help
	  It support different magnetometer sensor.
          If this option is set,
	  it will support
          AF7133E_AF8133I magnetometer.
